p.main-squeeze-picker
{
    font-size: 80%;
}

p.main-squeeze-picker button
{
    vertical-align: baseline;
    display: inline-block;
    line-height: 1;
    margin-left: 0.5em;
    padding: 0.5em;
}

span.main-squeeze-expansion
{
    display: none;
}

span.main-squeeze-expansion.main-squeeze-expansion-visible
{
    animation-duration: 0.5s;
    animation-name: fadein;
    display: inline;
}

@keyframes fadein
{
    from
    {
        opacity: 0.0;
    }

    to
    {
        opacity: 1.0;
    }
}
